.Form {
  margin-top: 20px;
  width: 300px;
  background: #a8a7a7;
  height: 250px;
  padding: 30px;

}

.inputbox {
  position: relative;
  margin-bottom: 20px;
}

#input1,
#input2 {
  width: 80%;
  border: none;
  background: transparent;
  border-bottom: 2px solid black;
  outline: none;
}

.inputbox label {
  position: relative;
  /* left: 10px; */
  /* top: -10px; */
  color: white;
  transition: 0.3s;
  pointer-events: none;
}

button{
  width: 150px;
  margin-left: 45px;
}

button:hover{
  background-color: rgb(10, 250, 10);
  outline-style: double;
}