<p>getdata works!</p>


<table border="1" class="table table-striped">
    <thead>
        <tr>
            <th>Child Dept Id</th>
            <th>Parent Dept Id</th>
            <th>Department Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dept of alluser,let i=index">
            <td>{{i+1}}</td>
            <td>{{dept.departmentName}}</td>
            <td>{{dept.departmentLogo}}</td>

        </tr>
    </tbody>
</table>

<div class="Form">
    <div class="inputbox">
        <label for="">Department Name</label>
        <input type="text" [(ngModel)]="deptobj.departmentName" placeholder="Enter name" id="input1" required>
    </div>
    <div class="inputbox">
        <label for="">Department Logo</label>
        <input type="text" [(ngModel)]="deptobj.departmentLogo" placeholder="Enter logo" required id="input2" required>
    </div>
    <button (click)="onSave()" >Submit</button>
</div>