<p>get works!</p>

<table border="1" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <!-- <th>Full Name</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of allusers">
            <td>{{user.locationId}}</td>
            <td>{{user.locationName}}</td>
            <td>{{user.code}}</td>
            <!-- <td>{{user.projectTitle}}</td> -->
        </tr>
</table>


<div>
<input type="text" [(ngModel)]="queryobj.queryId" placeholder="Enter the Query Id">

<input type="text" [(ngModel)]="queryobj.name" placeholder="Enter the Name">

<input type="text" [(ngModel)]="queryobj.city" placeholder="Enter the City">


<button (click)='save()'>Submit</button>
    
</div>


<p>{{a}}</p>