<h1>Employee Details</h1>

<table border="1">
  <thead>
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Contact No</th>
        <th>Email ID</th>
        <th>Department ID</th>
        <th>Password</th>
        <th>Gender</th>
        <th>Role</th>
        <th>Created Date</th>
        
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of employees">
      <td>{{ a.employeeId }}</td>
      <td>{{ a.employeeName }}</td>
      <td>{{a.contactNo}}</td>
      <td>{{a.emailId}}</td>
      <td>{{a.deptId}}</td>
      <td>{{a.password}}</td>
      <td>{{a.gender}}</td>
      <td>{{a.role}}</td>
      <td>{{a.createdDate}}</td>
    </tr>

    
  </tbody>
</table>



