form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13%;

}

.head{
    margin-left: 75px;
    color: blue;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.Login{
    height: 300px;
    
    background-color: aliceblue;
    width: 300px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 0 20px 0 20px;
    padding: 20px;
    overflow:none;
    
}

.Firstinput{
    margin-top: 20px;
   
}

.Secondinput{
    margin-left: 10px;
    
}

.Firstinput input, .Secondinput input{
    width: 200px;
    height: 25px;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    outline: none;
    margin-left: 5px;
}




.logibt{
    margin-left: 15px;
    margin-top: 20px;
    padding-left:30px;
    padding-right: 30px;
    position: fixed;
}

.forget{
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 13%;
    position: fixed;
    
}

.Signin{
    margin-top: 70px;
    margin-left: 80px;
    position : fixed;
}

.logibt:hover{
    
    background-color: rgb(4, 252, 4);
    transition: all 0.1s ease-in-out;
    border-radius: 20px;
}

.forget:hover{
    
    background-color: rgb(255, 0, 0);
    transition: all 0.1s ease-in-out;
    border-radius: 20px;
}

.Signin:hover{
   
    background-color: rgb(90, 90, 243);
    transition: all 0.1s ease-in-out;
    border-radius: 20px;
}