<Form>
  <div class="Login">
    <div class="head">
      Login Form
      </div>

    <div class="Firstinput">
      <label for="Name" class="labe">Name/User:</label>
      <input type="text" placeholder="Enter Name" [(ngModel)]="name">
    </div><br><br>
    <div class="Secondinput">
      <label for="password" class="labe">Password:</label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="password" id="pass">
    </div><br><br>

    <div>
      <Button type="submit" (click)="Onsave()" class="logibt">Login</Button>
    </div>
    <div>
      <button class="forget"> Forget</button>
    </div>
    <div>
      <button class="Signin">Register As New</button>
    </div>

  </div>

</Form>



<!-- <table border="1 colaps" style="width: 100%; ">
  <thead>
    <tr>
      <th>Name/User</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of arr">
      <td>{{a.name}}</td>
      <td>{{a.password}}</td>
    </tr>
  </tbody>
</table> -->